a {
  text-decoration: none;
}
.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}
ul,
li {
  list-style: none;
}
.header-social::after {
  content: "";
  margin-left: 17px;
  margin-right: 15px;
  background: #666;
  width: 1px;
  height: 20px;
  display: inline-block;
  position: relative;
}
ul {
  margin-bottom: 0 !important;
}
